#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    gap: 15px;
    height: 250px;
    width: 525px;
    padding-left:2px;
}

#header {
    background-color: lightgray;
    grid-column: 1/5;
    border-radius: 10px;
}

#sidebar {
    background-color: darkgray;
    grid-column: 1/2;
    border-radius: 10px;
}

#content {
    background-color: darkgray;
    grid-column: 2/4;
    border-radius: 10px;
}

#sidebar2 {
    background-color: lightgray;
    grid-column: 4/5;
    border-radius: 10px;
}

#footer {
    background-color: lightgray;
    grid-column: 1/5;
    border-radius: 10px;
}

@media only screen and (max-width: 650px) {
    #header {
        background-color: lightgray;
        grid-column: 1/5;
        border-radius: 10px;
    }
    
    #sidebar {
        background-color: darkgray;
        grid-column: 1/2;
        border-radius: 10px;
    }
    
    #content {
        background-color: darkgray;
        grid-column: 2/5;
        border-radius: 10px;
    }
    
    #sidebar2 {
        background-color: lightgray;
        grid-column: 1/5;
        border-radius: 10px;
    }
    
    #footer {
        background-color: lightgray;
        grid-column: 1/5;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 600px) {
    #header {
        background-color: lightgray;
        grid-column: 1/5;
        border-radius: 10px;
    }
    
    #sidebar {
        background-color: darkgray;
        grid-column: 1/5;
        border-radius: 10px;
    }
    
    #content {
        background-color: darkgray;
        grid-column: 1/5;
        border-radius: 10px;
    }
    
    #sidebar2 {
        background-color: lightgray;
        grid-column: 1/5;
        border-radius: 10px;
    }
    
    #footer {
        background-color: lightgray;
        grid-column: 1/5;
        border-radius: 10px;
    }
}